@font-face {
    font-family: 'Akzidenz Grotesk';
    src: url('/img/AkzidenzGrotesk-Bold.otf') format("otf");
}

body {
    font-weight: bold;
    font-family: 'Akzidenz Grotesk', Arial, Geneva, Verdana, sans-serif;
}