@font-face {
    font-family: 'Akzidenz Grotesk';
    src: url('/public/assets/fonts/AkzidenzGrotesk-Bold.otf') format("otf");
}

body {
    font-weight: bold;
    font-family: 'Akzidenz Grotesk', Arial, Geneva, Verdana, sans-serif;
    color: #443A9E;
}