.balcard,
.jobbcard {
    z-index: 2;
}

.balcard {
    display: flex;
    position: absolute;
    transition: all 1s ease-out;
    object-fit: contain;
    object-position: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: -100vw;
}

.jobbcard {
    display: flex;
    position: absolute;
    transition: all 1s ease-out;
    object-fit: contain;
    object-position: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 100vw;
}

.centercard {
    left: 0;
    display: flex;
    position: absolute;
    transition: all 1s ease-out;
    object-fit: contain;
    object-position: center;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    bottom: 0;
}

.left-enter {
    opacity: 0;
}

.left-enter.left-enter-active {
    opacity: 1;
    transition: opacity 1s ease-out;
}

.left-leave {
    opacity: 1;
    transform: translateX(100vw);
}

.left-leave.left-leave-active {
    opacity: 0;
    /*transform: translateX(100vw);*/
    transition: opacity 1s ease-out;
}

.right-enter {
    opacity: 0;
}

.right-enter.right-enter-active {
    opacity: 1;
    transition: opacity 1s ease-out;
}

.right-leave {
    opacity: 1;
}

.right-leave.right-leave-active {
    opacity: 0;
    transition: opacity 1s ease-out;
}