.mobilbal,
.mobiljobb {
    z-index: 2;
}

.mobilbal {
    display: inline-block;
    position: absolute;
    transition: all 1s ease-out;
    object-fit: cover;
    object-position: center;
    width: 100vw;
    height: 100vw;
    top: 0;
    left: -100vw;
}

.mobiljobb {
    display: inline-block;
    position: absolute;
    transition: all 1s ease-out;
    object-fit: contain;
    object-position: center;
    width: 100vw;
    height: 100vw;
    top: 0;
    left: 100vw;
}

.mobilcenter {
    left: 0;
    display: inline-block;
    position: absolute;
    transition: all 1s ease-out;
    object-fit: cover;
    object-position: contain;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.kisBalra-enter {
    opacity: 0;
}

.kisBalra-enter.kisBalra-enter-active {
    opacity: 1;
    transition: opacity 1s ease-out;
}

.kisBalra-leave {
    opacity: 1;
    transform: translateX(100vw);
}

.kisBalra-leave.kisBalra-leave-active {
    opacity: 0;
    /*transform: translateX(100vw);*/
    transition: opacity 1s ease-out;
}

.kisJobbra-enter {
    opacity: 0;
}

.kisJobbra-enter.kisJobbra-enter-active {
    opacity: 1;
    transition: opacity 1s ease-out;
}

.kisJobbra-leave {
    opacity: 1;
}

.kisJobbra-leave.kisJobbra-leave-active {
    opacity: 0;
    transition: opacity 1s ease-out;
}
