a {
    text-decoration: none;
}


/* hover overlay 

.overlay {
    background: rgba(241, 241, 241, 0.6);
    text-align: center;
    opacity: 0;
    width: 100%;
    position: absolute;
    top: 0;
    transition: opacity 0.25s ease;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    margin-top: 15%;
    border-radius: 50%;
}

.bal:hover .overlay,
.jobb:hover .overlay {
    opacity: 1;
}

.toCenter {
    color: #443A9E;
    font-size: 14em;
    font-weight: 900;
    opacity: 0.6;
}
*/

.bal,
.jobb,
.center {
    display: block;
    position: absolute;
    width: 46%;
    height: 100%;
    top: 25%;
    transition: all 1s ease-out;
    object-fit: cover;
}

.jobb,
.bal {
    top: 25%;
    width: 25%;
    height: 50%;
}

.bal {
    left: 1%;
}

.center {
    left: 27%;
    top: 0;
    z-index: 1;
}

.jobb {
    left: 74%;
}

.left-enter {
    opacity: 0;
    top: 25%;
    transform: translateX(1%);
}

.left-enter.left-enter-active {
    opacity: 1;
    top: 25%;
    transform: translateX(1%);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.left-leave {
    opacity: 1;
    top: 25%;
    transform: translateX(100%);
}

.left-leave.left-leave-active {
    opacity: 0;
    top: 25%;
    transform: translateX(100%);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.right-enter {
    opacity: 0;
    right: 1%;
    top: 25%;
    z-index: 0;
}

.right-enter.right-enter-active {
    opacity: 1;
    right: 1%;
    top: 25%;
    z-index: 0;
    transition: opacity 1s ease-out, right 1s ease-out, z-index 1s ease-out;
}

.right-leave {
    opacity: 1;
    top: 25%;
    transform: translateX(-25%);
}

.right-leave.right-leave-active {
    opacity: 0;
    transform: translateX(-25%);
    top: 25%;
    transition: opacity 1s ease-out, transform 1s ease-out;
}