.vidOverlay {
    text-align: center;
    position: absolute;
    background-color: #1220225c;
    width: 100%;
    height: 88%;
    transition: .3s ease;
    bottom: 12%;
}

iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 12%;
}

.vidText {
    opacity: 1;
    width: 100%;
    font-size: 8vmin;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0;
}

.vidFelirat {
    color: white;
    display: block;
    opacity: 1;
    text-align: left;
    width: 80%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

@media screen and (min-width: 760px) {
    .vidText {
        font-size: 5vmin;
    }
}